@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800;900 & family= Roboto:wght@ 100;300;400;500;700;900 & display=swap");
:root {
  --cor0: #FFFFFF;
  --cor1: #F7F3FF;
  --cor2: #E9E1FF;
  --cor3: #C5ACFF;
  --cor4: #8B68DF;
  --cor5: #5B31C1;
  --cor6: #320995;
  --cor7: #260180;
  --cor8: #26E55F;
  --cor9: #E2306C;
  --cor10: #393939;
  ---cor11: #000000;
  --font0: "Montserrat", sans-serif;
  --font1: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--cor0);
  box-sizing: border-box;
}

body {
  background-color: var(--cor6);
  font-family: var(--font1);
  width: 100vw;
}

.btnTransp {
  background-color: transparent;
  border-radius: 0.5em;
  border: 1px solid var(--cor2);
  padding: 0.5em;
  width: 230px;
  height: 42px;
  font-size: 12px;
  text-transform: uppercase;
}

.btnPrinc {
  background-color: var(--cor9);
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0 10px #F3709C;
  height: 42px;
  width: 230px;
  font-size: 12px;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
}

.btnDownApp {
  background-color: var(--cor9);
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0 10px #F3709C;
}

img {
  width: 100%;
}

@media screen and (max-width: 430px) {
  header {
    width: 100%;
    height: 60px;
    background-color: var(--cor6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
    position: fixed;
    top: 0;
    z-index: 1;
  }
  header #container-header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  header #container-header #logo {
    height: 60px;
    display: flex;
    align-items: center;
  }
  header #container-header #logo img {
    height: 100%;
  }
  header #container-header #containerMenu {
    height: 3.75em;
    display: flex;
    align-items: center;
  }
  header #container-header #containerMenu input[type=checkbox] {
    display: none;
  }
  header #container-header #containerMenu #iconMenu img {
    width: 2em;
  }
  header #container-header nav {
    height: calc(100vh - 60px);
    background-color: var(--cor6);
    width: 100%;
  }
  header #imgUser {
    display: none;
  }
  main {
    width: 100vw;
    position: relative;
  }
  main #sessaoUm {
    height: calc(100vh - 70px);
    bottom: 0;
    padding: 70px 10px 0;
  }
  main #sessaoUm #imgPrimeiraSessao {
    max-width: 340px;
    margin: auto;
  }
  main #sessaoUm #conteudo {
    width: 95%;
    margin: 10px auto;
  }
  main #sessaoUm #conteudo h1 {
    font-family: var(--font0);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
  }
  main #sessaoUm #conteudo p {
    text-align: center;
    margin: 10px auto 20px;
    font-size: 14px;
    font-weight: lighter;
    width: 70%;
  }
  main #sessaoUm #conteudo a {
    margin: 0 auto;
  }
  main #sessaoDois {
    height: calc(100vh - 70px);
    padding: 0 20px;
    margin: 6em 0 0 0;
  }
  main #sessaoDois #imgSegundaSessao {
    max-width: 70%;
    margin: auto;
  }
  main #sessaoDois h2 {
    font-family: var(--font0);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    width: 90%;
    margin: 20px auto;
  }
  main #sessaoDois p {
    text-align: center;
    margin: 20px auto 0;
    font-size: 14px;
    font-weight: lighter;
    width: 80%;
  }
  main #sessaoTres #bgSvgTerceiraSessao {
    margin-bottom: -3em;
    fill: var(--cor7);
  }
  main #sessaoTres #containerTres {
    background-color: var(--cor7);
    margin: 1em 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em 20px 3em;
  }
  main #sessaoTres #containerTres .elementos {
    width: 45%;
    height: 140px;
    margin: 15px 0;
  }
  main #sessaoTres #containerTres .elementos h3 {
    font-family: var(--font0);
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 3px solid;
    -o-border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
       border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
  }
  main #sessaoTres #containerTres .elementos p {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
  }
  main #sessaoQuatro #bgSvgQuartaSessao {
    fill: var(--cor6);
    margin-top: -6em;
  }
  main #sessaoQuatro #imgMan {
    width: 100vw;
    padding: 3em 10px 0;
    box-sizing: border-box;
  }
  main #sessaoQuatro p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 16px;
  }
  main #sessaoQuatro #imgCartoes {
    width: 90%;
    margin: 30px auto;
  }
  main #sessaoQuatro a {
    margin: 50px auto 6em;
  }
  main #sessaoCinco {
    width: 100vw;
    background-color: var(--cor7);
  }
  main #sessaoCinco #bgSvgQuintaSessao {
    margin-top: -2em;
    fill: var(--cor7);
  }
  main #sessaoCinco #logoSessaoCinco {
    height: 6em;
    width: 6em;
    margin: -1em auto 30px;
  }
  main #sessaoCinco #conteudoCinco {
    padding: 0 20px;
    width: 100vw;
  }
  main #sessaoCinco #conteudoCinco h4 {
    font-family: var(--font0);
    text-align: center;
    width: 99%;
    font-size: 24px;
    font-weight: 600;
  }
  main #sessaoCinco #conteudoCinco p {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
  }
  main #sessaoCinco #sessaoBtn {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
  }
  main #sessaoCinco #sessaoBtn a {
    height: 50px;
    width: 9em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
  }
  main #sessaoCinco #sessaoBtn a img {
    width: 2em;
    margin-right: 0.6em;
  }
  main #sessaoCinco #sessaoBtn a #conteudoBtn p {
    font-size: 0.7em;
  }
  main #sessaoCinco #sessaoBtn a #conteudoBtn span {
    font-size: 0.9em;
  }
  main #sessaoCinco #containerImgSessaoCinco {
    width: 80%;
    margin: auto;
  }
  main #sessaoSeis {
    width: 100vw;
  }
  main #sessaoSeis .bgSvg {
    width: 100%;
    fill: var(--cor6);
    margin-top: -2em;
  }
  main #sessaoSeis h5 {
    font: 600 24px var(--font0);
    text-align: center;
    margin: 0 0 1em 0;
    padding-top: 1em;
  }
  main #sessaoSeis p {
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin: 0 auto 3em;
  }
  main #sessaoSeis img {
    padding: 0 20px;
    width: 100%;
  }
  main #sessaoSeis a {
    margin: 2em auto 4em;
  }
  footer #bgSvgFooterSessao {
    fill: var(--cor7);
  }
  footer #primeiraSessaoFooter {
    background-color: var(--cor7);
    width: 100vw;
    margin-top: -1em;
    padding: 2em 20px 0;
  }
  footer #segundaSessaoFooter {
    padding: 4em 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px;
  }
  footer #segundaSessaoFooter .elementos {
    width: 45%;
    height: 140px;
    margin: 15px 0;
  }
  footer #segundaSessaoFooter .elementos dt {
    font-family: var(--font0);
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 3px solid;
    -o-border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
       border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
  }
  footer #segundaSessaoFooter .elementos li {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
  }
  footer #segundaSessaoFooter .elementos #sessaoBtnFooter a {
    margin-top: 10px;
    height: 50px;
    width: 140px;
    padding: 0.4em;
    display: flex;
    justify-content: center;
  }
  footer #segundaSessaoFooter .elementos #sessaoBtnFooter a img {
    width: 1.5em;
    margin-right: 0.8em;
  }
  footer #segundaSessaoFooter .elementos #sessaoBtnFooter a #conteudoBtn p {
    font-size: 0.8em;
  }
  footer #segundaSessaoFooter .elementos #sessaoBtnFooter a #conteudoBtn span {
    font-size: 1em;
  }
  footer #segundaSessaoFooter .elementos #containerLinksRedes {
    display: flex;
    justify-content: space-evenly;
  }
  footer #segundaSessaoFooter .elementos #containerLinksRedes .iconsRedesSociaisFooter {
    padding: 0.3em;
    width: 3em;
  }
  footer #ultimoContainerFooter {
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
  }
  footer #ultimoContainerFooter #logoFooter {
    width: 3em;
  }
  footer #ultimoContainerFooter #logoFooter img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */