@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800;900 & family= Roboto:wght@ 100;300;400;500;700;900 & display=swap');

:root{
    --cor0: #FFFFFF;
    --cor1: #F7F3FF;
    --cor2: #E9E1FF;
    --cor3: #C5ACFF;
    --cor4: #8B68DF;
    --cor5: #5B31C1;
    --cor6: #320995;
    --cor7: #260180;
    --cor8: #26E55F;
    --cor9: #E2306C;
    --cor10: #393939;
    ---cor11: #000000;
    --font0: 'Montserrat', sans-serif;
    --font1: 'Roboto', sans-serif;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--cor0);
    box-sizing: border-box;
}
body{
    background-color: var(--cor6);
    font-family: var(--font1);
    width: 100vw;

}
.btnTransp{
    background-color: transparent;
    border-radius: .5em;
    border: 1px solid var(--cor2);
    padding: .5em;
    width: 13em;
    a{
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
    }
}

.btnPrinc{
    background-color:var(--cor9);
    border-radius: .5em;
    border: none;
    box-shadow: 0 0 10px #F3709C; 
    height: 42px;
    width: 230px;
    display: block;
    font-size: 16px;
    text-align: center;
    padding-top: .7em;   
}

.btnDownApp{
    background-color:var(--cor9);
    border-radius: .5em;
    border: none;
    box-shadow: 0 0 10px #F3709C; 
}

@media screen and (max-width: 430px){
    header{
        width: 100%;
        height: 60px;
        padding: 0 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
        box-sizing: border-box;

        #container-header{
            display: flex;
            justify-content: space-between;
        }

        #logo{
            height: 60px;
            display: flex;
            align-items: center;
    
            img{
                height: 100%;
            }
        }

        #hamburguer{
            height: 60px;
            display: flex;
            align-items: center;

            img{
                height: 16px;

            }

            input[type=checkbox]{
                display: none;
        
                &:checked ~ nav{
                    transform: translate(0);
                }
            }

            #icon-menu{

            }
        }


        nav{
            display: none;
        }

        #imgUser{
            display: none;
        }
    }

    main{
        width: 100vw;

        #sessaoUm{
            height: calc(100vh - 70px);
            padding: 10px 10px 0;

            img{
                width: 100%;
            }

            #conteudo{
                width: 95%;
                margin: 10px auto;

                h1{
                    font-family: var(--font0);
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                    width: 80%;
                    margin: 0 auto;
                }

                p{
                    text-align: center;
                    margin: 10px auto 20px;
                    font-size: 14px;
                    font-weight: lighter;
                    width: 70%;
                }
                a{
                    margin: auto;
                }
            }
        }

        #sessaoDois{
            height: calc(100vh - 70px);
            box-sizing: border-box;
            padding: 20px 10px;


            #sessaoDoisImg{
                width: 80%;
                margin: 30px auto 0;

            }

            img{
                width: 100%;
            }

            h2{
                font-family: var(--font0);
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                width: 80%;
                margin: 20px auto;
            }
            p{
                text-align: center;
                margin: 20px auto;
                font-size: 14px;
                font-weight: lighter;
                width: 70%;
            }
        }

        #sessaoTres{
            padding: 20px 0;
            margin: 50px 0 50px;
            

            #containerTres{
                background-color: var(--cor7);
                margin: 30px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 30px 20px;
                
            }

            .elementos{
                width: 45%;
                height: 140px;
                margin: 15px 0;
            }

            h3{
                font-family: var(--font0);
                font-weight: 500;
                font-size: 16px;
                padding-bottom: 10px;
                width: 100%;
                border-bottom: 3px solid;
                border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
            }

            p{
                font-size: 12px;
                width: 100%;
                margin-top: 10px;
            }

        }

        #sessaoQuatro{
            #imgMan {
                width: 100vw;
                padding: 0 10px;
                box-sizing: border-box;
                
                img{
                    width: 100%;
                }
            } 
            
            p{
                text-align: center;
                width: 80%;
                margin: auto;
                font-size: 16px;
            }
            #imgCartoes{
                width: 90%;
                margin: 30px auto;

                img{
                    width: 100% ;
                }
            }
            
            a{
                margin: 50px auto;
            }
        }

        #sessaoCinco{
            width: 100vw;
            padding:0 20px;
            background-color: var(--cor7);

            #logoSessaoCinco{
                margin: 0 auto 30px;
                width: 100px;
                padding: .2em;
                img{
                    margin: auto;
                    width: 100%;
                }
            }

            #conteudoCinco{
                h4{
                    font-family: var(--font0);
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                }

                p{
                    text-align: center;
                    font-size: 14px;
                    margin: 5px 0;
                }

            }

            #sessaoBtn{
                margin: 30px 0;
                display: flex;
                justify-content: space-evenly;


                a{
                    height: 50px;
                    width: 160px;
                    padding: .5em;
                    display: flex;
                    justify-content: center;
                    

                    img{
                        width: 2em;
                        margin-right: .6em;
                    }

                    #conteudoBtn{
                        p{
                            font-size: .8em;
                        }
    
                        span{
                            font-size: 1em;
                        }
                    }
                }

            }

            img{
                width: 100%;
            }

        }

        #sessaoSeis{
            width: 100vw;

            .bgSvg{
                width: 100%;
                fill: var(--cor7);
            }


            h5{
                font: 600 24px var(--font0);
                text-align: center;
                margin: 0 0 1em 0;
            }
            
            p{
                text-align: center;
                font-size: 14px;
                width: 80%;
                margin: 0 auto 3em;
            }

            img{
                padding: 0 20px;
                width: 100%;
            }

            a{
                margin: 2em auto 0;
            }
        }
    }

    footer{

        #primeiraSessaoFooter{
            background-color: var(--cor7);
            width: 100vw;
            padding: 4em 20px 0;

            img{
                width: 100%;
            }
        }

        #segundaSessaoFooter{
            padding: 4em 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px 20px;

            .elementos{
                width: 45%;
                height: 140px;
                margin: 15px 0;

                dt{
                    font-family: var(--font0);
                    font-weight: 500;
                    font-size: 16px;
                    padding-bottom: 10px;
                    width: 100%;
                    border-bottom: 3px solid;
                    border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
                }

                li{
                    font-size: 12px;
                    width: 100%;
                    margin-top: 10px;
                }

                #sessaoBtnFooter{
                    
    
                    a{
                        margin-top: 10px;
                        height: 50px;
                        width: 140px;
                        padding: .4em;
                        display: flex;
                        justify-content: center;
                        
    
                        img{
                            width: 1.5em;
                            margin-right: .8em;
                        }
    
                        #conteudoBtn{
                            p{
                                font-size: .8em;
                            }
        
                            span{
                                font-size: 1em;
                            }
                        }
                    }
                }

                #containerLinksRedes{
                    display: flex;
                }

                
            }
        }

        #ultimoContainerFooter{
            border-top: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            font-size: 14px;

              #logoFooter{
                width: 3em;

                img{
                    width: 100%;
                }
              }
        }
    }

    
}