@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800;900 & family= Roboto:wght@ 100;300;400;500;700;900 & display=swap');

:root{
    --cor0: #FFFFFF;
    --cor1: #F7F3FF;
    --cor2: #E9E1FF;
    --cor3: #C5ACFF;
    --cor4: #8B68DF;
    --cor5: #5B31C1;
    --cor6: #320995;
    --cor7: #260180;
    --cor8: #26E55F;
    --cor9: #F3709C;
    --cor10: #E2306C;
    --cor11: #393939;
    ---cor12: #000000;
    --corHoverBtnPrinc:#F56394;
    --corHoverBtnTrans:#5B31C1;
    --fonte-titulo: 600 1.5em var(--font0); 
    --font0: 'Montserrat', sans-serif;
    --font1: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--cor0);
    box-sizing: border-box;
}

//  REDIMENSIONAR IMG LOGO =============================

body{
    background-color: var(--cor6);
    font-family: var(--font1);
    font-size: 14px;

    img{
        width: 100%;
    }
    
    .btn-trans, .btn-princ{
        border-radius: .5em;
        padding: 1.1em !important;
        display: block;
        width: 13em;
        text-align: center;
        text-transform: uppercase;
        color: var(--cor0) !important;
        letter-spacing: .1em;
    }
    
    .btn-trans{
        background-color: transparent;
        border: .1em solid var(--cor0) !important;
    
        &:active{
            background-color: var(--corHoverBtnTrans);
        }
    }
    
    .btn-princ{
        box-shadow: 0 0 .6em var(--cor9);
        background-color: var(--cor10);
        border: none !important;
    
        &:active{
            background-color: var(--corHoverBtnPrinc);
        }
    
    }
    
    .btn-down{
        background-color:var(--cor10);
        border-radius: .5em;
        border: none;
        box-shadow: 0 0 .6em var(--cor9); 
    
        &:active{
            background-color: var(--corHoverBtnPrinc);
        }
    }
    
    h1, h2, h4, h5{
        font: var(--fonte-titulo);
    }
    

    header{
        width: 100%;
        padding: 0 0 1em 0;
        box-shadow: 0 0 .6em hwb(0 0% 100% / 0.70);
    
        #container-header{
            height: 3.2em;
            display: flex;
            justify-content: space-between;
            padding: 0 1em .3em ;
            background-color: var(--cor6);

            #logo{
                width: 4em;
            }
        
            #menu{
                width: 1.7em;
                padding: 1.5em 0;
            }
        }

        #icon-menu{
            display: none;

            &:checked ~ nav{
                max-height: 15em;
            }
        }
    
        #navbar{
            transition: all .5s;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            top: 4em;
            background-color: var(--cor6);
            width: 100%;
            box-shadow: 0 .4em .5em 0 hwb(0 0% 100% / 0.350);

            ul{
                text-align: center;

                li{
                    margin: 1em auto;
                    width: 100%;

                    a{
                        font-family: var(--font0);
                        letter-spacing: .1em;
                        margin: auto;
                        padding: .7em;

                        &:active{
                            color: var(--cor9);
                        }
                    }
                }
            }
        }
    }

    main{
        width: 100%;
        
        #sessao-um{
            padding: 0 1em;

            #img-sessao-um{
                max-width: 21.26em;
                margin: .7em auto;
            }

            #conteudo-sessao-um{
                width: 100%;
                margin: .625rem auto;

                h1{
                    text-align: center;
                    max-width: 16.25rem;
                    margin: 0 auto;
                }

                p{
                    font-size: .937em;
                    text-align: center;
                    width: 15rem;
                    margin: .625rem auto 1.2rem;
                }

                a{
                    margin: 0 auto;
                }
            }
        }

        #sessao-dois{
            padding: 2em 2em;

            #img-sessao-dois{
                max-width: 18em;
                margin: 3em auto;
            }

            h2{
                text-align: center;
                width: 16.25rem;
                margin: auto;
            }
            p{
                font-size: 1em;
                text-align: center;
                margin: 1.5rem auto 0;
                max-width: 17rem;
            }
        }

        #sessao-tres{
            #svg-onda-sessao-tres{
                margin-bottom: -3em;
                fill: var(--cor7);
            }

            #container-sessao-tres{
                background-color: var(--cor7);
                margin: 1em 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 3em 1.25rem 5em;

                .elementos{
                    width: 45%;
                    height: 8.75rem;
                    margin: .937rem 0;

                    h3{
                        font: 500 1em var(--font0);
                        padding-bottom: .625rem;
                        width: 100%;
                        border-bottom: .2rem solid;
                        border-image: linear-gradient(to right, var(--cor10) 30%, transparent 30%) 1;
                    }

                    p{
                        font-size: 0.850em;
                        width: 100%;
                        margin: .625rem 0;
                    }
                }
                
            }
        }

        #sessao-quatro{
            

            #svg-onda-sessao-quatro{
                fill: var(--cor6);
                margin-top: -6em;
            }

            #img-sessao-quatro{
                width: 100%;
                padding: 3em 1rem 0;
                box-sizing: border-box;
            } 
            
            p{
                text-align: center;
                width: 80%;
                margin: auto;
                font-size: 1em;
            }

            #img-cartoes-sessao-quatro{
                width: 85%;
                margin: 1.87rem auto;
            }

            a{
                margin: 3.125rem auto 6rem;
            }
            
        }

        #sessao-cinco{

            width: 100%;
            background-color: var(--cor7);

            #svg-onda-sessao-cinco{
                margin-top: -2em; 
                fill: var(--cor7);
            }

            #logo-sessao-cinco{
                height: 6em;
                width: 6em;
                margin: -1em auto 1rem;
            }

            #conteudo-sessao-cinco{
                padding: 0 1.25rem;
                margin: 0 auto;
                text-align: center;

                h4{
                    text-align: center;
                }

                p{
                    text-align: center;
                    font-size: 1em;
                    margin: .312rem 0;
                }

            }

            #sessao-btn-sessao-cinco{
                margin: 2.3rem 0;
                display: flex;
                justify-content: space-evenly;

                a{
                    height: 3rem;
                    min-width: 6em;
                    padding: .1em 1em;
                    display: flex;
                    justify-content: center;
                    
                    img{
                        width: 2em;
                        margin-right: .6em;
                    }

                    #conteudo-btn{
                        p{
                            font-size: .8em;
                            display: block;
                            margin-top: .2em;
                        }
    
                        span{
                            font-size: 1em;
                            margin: .5em 0 0 0;
                            display: block;
                        }
                    }
                }

            }

            #container-img-sessao-cinco{
                width: 80%;
                margin: auto;
            }


        }
        
        #sessao-seis{
            width: 100%;
            
            #svg-onda-sessao-seis{
                width: 100%;
                fill: var(--cor6);
                margin-top: -2em
            }

            h5{
                text-align: center;
                margin: 1.5em 0 .8em 0;
            }
            
            p{
                text-align: center;
                font-size: 1em;
                width: 80%;
                margin: 0 auto 3em;
            }

            #container-img-sessao-seis{
                width: 90%;
                margin: auto;
            }

            a{
                margin: 2em auto 8em;
            }
        }
    
    }

    footer{

        #svg-onda-footer{
            fill: var(--cor7);
        }

        #primeira-sessao-footer{
            background-color: var(--cor7);
            margin-top: -1em;
            padding: 2em 0;

            img{
                display: block;
                width: 90%;
                margin: auto;
            }
        }

        #segunda-sessao-footer{
            padding: 4em 1.25rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1.875rem 1.25rem;

            .elementos{
                width: 45%;
                height: 8.75rem;
                margin: .937rem 0;

                dt{
                    font:500 1em var(--font0);
                    padding-bottom: .625rem;
                    width: 100%;
                    border-bottom: .190rem solid;
                    border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
                }

                li{
                    font-size: .8em;
                    width: 100%;
                    margin-top: .625rem;

                    a{
                        &:active{
                            color: var(--cor10);
                        }
                    }
                }

                #sessao-btn-footer{

                    a{
                        margin-top: 1em;
                        height: 3em;
                        min-width: 6em;
                        padding: .1em .2em;
                        display: flex;
                        align-items: center;
                        justify-content: center;

    
                        img{
                            width: 2em;
                            height: 2em;
                            margin-right: .6em;
                        }
    
                        #conteudo-btn{
                            p{
                                font-size: .7em;
                                display: block;
                                margin-bottom: .5em;
                            }
        
                            span{
                                font-size: .8em;
                                display: block;
                            }
                        }

                    }
                }

                #container-link-redes{
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                    
                    .icon-redes{
                        max-width: 2.7em;
                        margin: 1rem .1em 0 0;

                        #Icon_awesome-facebook-square path, #Icon_awesome-instagram path, 
                        #Icon_awesome-linkedin path,
                        #Icon_awesome-youtube-square path  &:active{
                            fill: var(--cor0);

                            &:active{
                                fill: var(--cor9);
                            }
                        }
                    }
                }
            }
        }

        #rodape-footer{
            border-top: .1em solid white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.25rem;
            font-size: .875em;

              #logo-footer{
                width: 3em;

                img{
                    width: 100%;
                }
              }
        }
    }
}

@media screen and (min-width: 490px){
    
    body{
        font-size: 16px;

        .btn-trans, .btn-princ{
            font-size: .70em !important;
        }

        header{

            #container-header{
                height: 4em;
                padding: 0 3rem;
                margin-top: -.5em;
                #logo{
                    width: 5em;
                }
            
                #menu{
                    display: flex;
                    align-items: center;
                    padding: 1.8em 0 0 0;
                    width: 2em;

                    img{
                        width: 2em;
                    }
                }
    
            }

            #icon-menu{
    
                &:checked ~ nav{
                    max-height: 17em;
                }
            }

            #navbar{
                top: 4em;
                ul{
                    li{
    
                        a{
                            font-size: 1em;
                        }
                    }
                }
    
            }
        }

        main{
            #sessao-um{
                padding: 0 3em;

                #img-sessao-um{
                    max-width: 100%;
                }

                #conteudo-sessao-um{
                    width: 100%;
                    margin: 3rem auto;
    
                    h1{
                        max-width: 100%;
                        font-size: 2rem;
                    }
    
                    p{
                        font-size: 1.2em;
                        text-align: center;
                        width: 100%;
                        margin: .625rem auto 3rem;
                    }
    
                    a{
                        margin: 0 auto;
                    }
                }
    
            }

            #sessao-dois{
                #img-sessao-dois{
                    max-width: 70%;
                }

                h2{
                    font-size: 2em;
                    width: auto;
                }

                p{
                    font-size: 1.2em;
                    max-width: 25rem;
                    margin-bottom: 3em;
                }
            }

            #sessao-tres{
                
                #container-sessao-tres{
                    padding: 2em 5em 5em;
                    justify-content: space-between;
                    
                    .elementos{
                        width: 40%;

                        h3{
                            font-size: 1.1em;
                        }
                    }
                    
                }
            }

            #sessao-quatro{

                #img-sessao-quatro{
                    padding: 0 3rem;
                }

                p{
                    font-size: 1.3em;
                }
                #img-cartoes-sessao-quatro{
                    padding: 0 3em;
                    width: 70%;
                }
            }

            #sessao-cinco{

                #sessao-btn-sessao-cinco{
                    justify-content: space-evenly;
                    width: 70%;
                    margin: 3em auto 2em;
                    
                    a{
                        width: 11em;
                    }
                }
            }

            #sessao-seis{

                p{
                    font-size: 1.1em;
                }

                #container-img-sessao-seis{
                    width: 85%;
                    margin: 0 auto;
                }
            }
        }

        footer{

            #primeira-sessao-footer{
                padding: 0 3em;
            }
            #segunda-sessao-footer{
                justify-content: end;
                #sessao-btn-footer{
                    a{
                        width: 12em;
                    }
                }
    
                #container-link-redes{
                    width: 13em;
                }
    
                #rodape-footer{
                    padding: 0 3em;
                }
            }
        }
    }
}

@media screen and (min-width: 885px){ 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{

        .btn-princ, .btn-trans{
            width: 8.4rem;
            transition: all .5s;
        }

        .btn-trans{
            &:hover{
                background-color: var(--corHoverBtnTrans);
            }
        }

        .btn-princ{
            &:hover{
                background-color: var(--corHoverBtnPrinc);
            }
        }

        .btn-down{
            &:hover{
                transition: all .5s;
                background-color: var(--corHoverBtnPrinc);
            }
        }

        header{
            width: 100%;
            padding: 0 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5em;

            #container-header{
                height: auto;
                padding: 0;
                
                #logo{
                    width: 5rem;
                    align-items: center;
                }
                
                #menu{
                    display: none;
                }
            }

            #navbar{
                max-height: 5em;
                box-shadow: none;
                width: auto;
                position: relative;
                top: 0;
                display: flex;
                align-items: center;
                
                ul{
                    display: flex;
                    align-items: center;
                    padding: 1rem .5rem 1rem 1rem;
                    height: auto;

                    li{
                        display: flex;
                        align-items: center;
                        width: auto;
                        height: auto;
                        margin: 0 .5rem;

                        &:last-child{
                            margin-right: 0;
                        }

                        a{
                            padding: 1rem .5rem;
                            font-size: .8em;
                            display: block;
                            border-bottom: 2px solid transparent;
                            &:hover{
                                transition: all .7s;
                                border-bottom:  2px solid var(--cor9);
                            }
                        }
                    }
                }
            }



        }

        main{
            width: 100%;

            #sessao-um{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding: 3rem;

                #img-sessao-um{
                    width: 48%;
                    display: flex;
                    align-items: center;
                }
                
                #conteudo-sessao-um{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0;
                    
                    h1{
                        text-align: left;
                        margin: 0;
                        font-size: 2rem;
                    }
                    
                    p{
                        text-align: left;
                        font-size: 1rem;
                        margin: 1.5rem 0;
                    }

                    a{
                        margin: 0;
                        width: 10rem;
                    }
                }
            }

            #sessao-dois{
                display: flex;
                justify-content: space-between;
                padding: 3rem;
                
                #img-sessao-dois{
                    width: 48%;
                    display: flex;
                    align-items: center;                
                }

                #conteudo-sessao-dois{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 0;

                    h2{
                        text-align: left;
                        margin: 1.5rem 0;
                        font-size: 2rem;
                    }

                    p{
                        text-align: left;
                        font-size: 1rem;
                        margin: 1.5rem 0;                    
                    }
                }
            }

            #sessao-tres{

                #container-sessao-tres{
                    padding: 2rem 3rem 10rem;

                    .elementos{
                        width: 35%;

                        h3{   
                            font-size: 1.2em;
                        }

                        p{
                            font-size: 1em;
                        }
                    }
                }
            }

            #sessao-quatro{

                padding: 0 0 5rem 0;

                #container-btn-sessao-quatro{
                    a{
                        width: 12rem;
                    }
                }
            }

            #sessao-cinco{
                #svg-onda-sessao-cinco{
                    margin-top: -4rem;
                }

                #conteudo-sessao-cinco{
                    h4{
                        font-size: 2rem;
                    }

                    p{

                    }
                }

                #sessao-btn-sessao-cinco{
                    a{
                        width: 12rem;
                    }
                }
            }

            #sessao-seis{
//      REDIMENSIONAR IMG SESSAO SEIS =================
                #svg-onda-sessao-seis{
                    margin: -4rem 0 0 0;
                }

                #conteudo-sessao-seis{
                    h5{
                        font-size: 2rem;
                    }   
                }

                a{
                    width: 10rem;
                }
            }
        }

        footer{

            #segunda-sessao-footer{

                .elementos{
                    width: 20rem;
                    margin: 1rem;

                    a:hover{
                        transition: all .5s;
                        color: var(--corHoverBtnPrinc);
                        fill: var(--corHoverBtnPrinc);
                    }

                    #container-link-redes{
                        .icon-redes{
                            #Icon_awesome-facebook-square path, #Icon_awesome-instagram path, 
                            #Icon_awesome-linkedin path,
                            #Icon_awesome-youtube-square path{
                                &:hover{
                                    fill: var(--corHoverBtnPrinc);
                                }
                            }
                        }
                    }
                }
            }
            #rodape-footer{
                padding: 0 3rem;
            }
        }
    }
}

@media screen and (min-width: 1024px){ 
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{

        
        header{
            padding: 0 10rem;
        }

        main{

            #sessao-um{
                padding: 4rem 6rem;
                width: 100%;

                #img-sessao-um{
                    width: auto;
                    img{
                        width: 100%;
                    }
                }

                #conteudo-sessao-um{
                    width: 35%;

                }
            }

            #sessao-dois{
                padding: 0 6rem;
                #img-sessao-dois{
                    background-color: #F3709C;
                }

                #conteudo-sessao-dois{
                    background-color: #8B68DF;
                }
            }

            #sessao-tres{
                #container-sessao-tres{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    justify-items: center;
                    row-gap: 3em;

                    .elementos{
                        width: 50%;
                    }
                }
            }
        }
        
    }
}
