@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800;900 & family= Roboto:wght@ 100;300;400;500;700;900 & display=swap');

:root{
    --cor0: #FFFFFF;
    --cor1: #F7F3FF;
    --cor2: #E9E1FF;
    --cor3: #C5ACFF;
    --cor4: #8B68DF;
    --cor5: #5B31C1;
    --cor6: #320995;
    --cor7: #260180;
    --cor8: #26E55F;
    --cor9: #F3709C;
    --cor10: #E2306C;
    --cor11: #393939;
    ---cor12: #000000;
    --corHoverBtnPrinc:#F56394;
    --corHoverBtnTrans:#5B31C1;
    --fonte-titulo: 600 1.5em var(--font0); 
    --font0: 'Montserrat', sans-serif;
    --font1: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--cor0);
}

img{
    width: 100%;
}

.btn-trans, .btn-princ{
    border-radius: .5em;
    padding: 1.1em !important;
    display: block;
    width: 13em !important;
    text-align: center;
    text-transform: uppercase;
    font-size: .75em;
    color: var(--cor0) !important;
    letter-spacing: .1em;
}

.btn-trans{
    background-color: transparent;
    border: .1em solid var(--cor0);

    &:active{
        background-color: var(--corHoverBtnTrans);
    }
}

.btn-princ{
    box-shadow: 0 0 .6em var(--cor9);
    background-color: var(--cor10);

    &:active{
        background-color: var(--corHoverBtnPrinc);
    }

}

.btn-down{
    background-color:var(--cor10);
    border-radius: .5em;
    border: none;
    box-shadow: 0 0 .6em var(--cor9); 

    &:active{
        background-color: var(--corHoverBtnPrinc);
    }
}

h1, h2, h4, h5{
    font: var(--fonte-titulo);
}

body{
    background-color: var(--cor6);
    font-family: var(--font1);
    font-size: 16px;
    width: 100vw;

    header{
        width: 100%;
        padding: 0 0 .7em 0;
        box-shadow: 0 0 .6em hwb(0 0% 100% / 0.70);
    
        #container-header{
            height: 3.2em;
            display: flex;
            justify-content: space-between;
            padding: 0 1em .3em ;
            background-color: var(--cor6);

            #logo{
                width: 4em;
            }
        
            #menu{
                width: 1.7em;
                padding: 1.5em 0;
            }
        }

        #icon-menu{
            display: none;

            &:checked ~ nav{
                max-height: 15em;
            }
        }
    
        #navbar{
            transition: all .5s;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            top: 4em;
            background-color: var(--cor6);
            width: 100%;
            box-shadow: 0 .4em .5em 0 hwb(0 0% 100% / 0.350);

            ul{
                text-align: center;

                li{
                    margin: 1em auto;
                    width: 100%;

                    a{
                        font-family: var(--font0);
                        letter-spacing: .1em;
                        margin: auto;
                        padding: .7em;

                        &:active{
                            color: var(--cor9);
                        }
                    }
                }
            }
        }
    }

    main{
        width: 100%;
        
        #sessao-um{
            padding: 0 1em;

            #img-sessao-um{
                max-width: 21.26em;
                margin: .7em auto;
            }

            #conteudo-sessao-um{
                width: 100%;
                margin: .625rem auto;

                h1{
                    text-align: center;
                    max-width: 16.25rem;
                    margin: 0 auto;
                }

                p{
                    font-size: .937em;
                    text-align: center;
                    width: 15rem;
                    margin: .625rem auto 1.2rem;
                }

                a{
                    margin: 0 auto;
                }
            }
        }

        #sessao-dois{
            padding: 2em 2em;


            #img-sessao-dois{
                max-width: 18em;
                margin: 3em auto;
            }

            h2{
                text-align: center;
                width: 16.25rem;
                margin: auto;
            }
            p{
                font-size: 1em;
                text-align: center;
                margin: 1.5rem auto 0;
                max-width: 17rem;
            }
        }

        #sessao-tres{
            #svg-onda-sessao-tres{
                margin-bottom: -3em;
                fill: var(--cor7);
            }

            #container-sessao-tres{
                background-color: var(--cor7);
                margin: 1em 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 3em 1.25rem 5em;

                .elementos{
                    width: 45%;
                    height: 8.75rem;
                    margin: .937rem 0;

                    h3{
                        font: 500 1em var(--font0);
                        padding-bottom: .625rem;
                        width: 100%;
                        border-bottom: .2rem solid;
                        border-image: linear-gradient(to right, var(--cor10) 30%, transparent 30%) 1;
                    }

                    p{
                        font-size: 0.850em;
                        width: 100%;
                        margin: .625rem 0;
                    }
                }
                
            }
        }

        #sessao-quatro{

            #svg-onda-sessao-quatro{
                fill: var(--cor6);
                margin-top: -6em;
            }

            #img-sessao-quatro{
                width: 100%;
                padding: 3em 1rem 0;
            } 
            
            p{
                text-align: center;
                width: 80%;
                margin: auto;
                font-size: 1em;
            }

            #img-cartoes-sessao-quatro{
                width: 85%;
                margin: 1.87rem auto;
            }
            
            a{
                margin: 3.125rem auto 6rem;
            }
        }

        #sessao-cinco{
            width: 100%;
            background-color: var(--cor7);

            #svg-onda-sessao-cinco{
                margin-top: -2em; 
                fill: var(--cor7);
            }

            #logo-sessao-cinco{
                height: 6em;
                width: 6em;
                margin: -1em auto 1rem;
            }

            #conteudo-sessao-cinco{
                padding: 0 1.25rem;
                margin: 0 auto;
                text-align: center;

                h4{
                    text-align: center;
                }

                p{
                    text-align: center;
                    font-size: 1em;
                    margin: .312rem 0;
                }

            }

            #sessao-btn{
                margin: 2.3rem 0;
                display: flex;
                justify-content: space-evenly;

                a{
                    height: 3rem;
                    min-width: 6em;
                    padding: .1em 1em;
                    display: flex;
                    justify-content: center;
                    
                    img{
                        width: 2em;
                        margin-right: .6em;
                    }

                    #conteudo-btn{
                        p{
                            font-size: .8em;
                            display: block;
                            margin-top: .2em;
                        }
    
                        span{
                            font-size: 1em;
                            margin: .5em 0 0 0;
                            display: block;
                        }
                    }
                }

            }

            #container-img-sessao-cinco{
                width: 80%;
                margin: auto;
            }


        }
        
        #sessao-seis{
            width: 100%;
            
            #svg-onda-sessao-seis{
                width: 100%;
                fill: var(--cor6);
                margin-top: -2em
            }

            h5{
                text-align: center;
                margin: 1.5em 0 .8em 0;
            }
            
            p{
                text-align: center;
                font-size: 1em;
                width: 80%;
                margin: 0 auto 3em;
            }

            #container-img-sessao-seis{
                width: 90%;
                margin: auto;
            }

            a{
                margin: 2em auto 8em;
            }
        }
    
    }

    footer{

        #svg-onda-footer{
            fill: var(--cor7);
        }

        #primeira-sessao-footer{
            background-color: var(--cor7);
            margin-top: -1em;
            padding: 2em 0;

            img{
                display: block;
                width: 90%;
                margin: auto;
            }
        }

        #segunda-sessao-footer{
            padding: 4em 1.25rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1.875rem 1.25rem;

            .elementos{
                width: 45%;
                height: 8.75rem;
                margin: .937rem 0;

                dt{
                    font:500 1em var(--font0);
                    padding-bottom: .625rem;
                    width: 100%;
                    border-bottom: .190rem solid;
                    border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
                }

                li{
                    font-size: .8em;
                    width: 100%;
                    margin-top: .625rem;

                    a{
                        &:active{
                            color: var(--cor10);
                        }
                    }
                }

                #sessao-btn-footer{

                    a{
                        margin-top: 1em;
                        height: 3em;
                        min-width: 6em;
                        padding: .1em .2em;
                        display: flex;
                        align-items: center;
                        justify-content: center;

    
                        img{
                            width: 2em;
                            height: 2em;
                            margin-right: .6em;
                        }
    
                        #conteudo-btn{
                            p{
                                font-size: .7em;
                                display: block;
                                margin-bottom: .5em;
                            }
        
                            span{
                                font-size: .8em;
                                display: block;
                            }
                        }

                    }
                }

                #container-link-redes{
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                    
                    .icon-redes{
                        max-width: 2.7em;
                        margin: 1rem .1em 0 0;

                        #Icon_awesome-facebook-square path, #Icon_awesome-instagram path, 
                        #Icon_awesome-linkedin path,
                        #Icon_awesome-youtube-square path  &:active{
                            fill: var(--cor0);

                            &:active{
                                fill: var(--cor9);
                            }
                        }
                    }
                }
            }
        }

        #rodape-footer{
            border-top: .1em solid white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.25rem;
            font-size: .875em;

              #logo-footer{
                width: 3em;

                img{
                    width: 100%;
                }
              }
        }
    }
}

@media screen and (min-width: 490px){

    body{
        
    }
}

@media screen and (min-width: 800px){ 
    
}