@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800;900 & family= Roboto:wght@ 100;300;400;500;700;900 & display=swap");
:root {
  --cor0: #FFFFFF;
  --cor1: #F7F3FF;
  --cor2: #E9E1FF;
  --cor3: #C5ACFF;
  --cor4: #8B68DF;
  --cor5: #5B31C1;
  --cor6: #320995;
  --cor7: #260180;
  --cor8: #26E55F;
  --cor9: #F3709C;
  --cor10: #E2306C;
  --cor11: #393939;
  ---cor12: #000000;
  --corHoverBtnPrinc: #F56394;
  --corHoverBtnTrans: #5B31C1;
  --font0: "Montserrat", sans-serif;
  --font1: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--cor0);
  box-sizing: border-box;
}

body {
  background-color: var(--cor6);
  font-family: var(--font1);
  font-size: 14px;
}
body img {
  width: 100%;
}
body .btn-trans, body .btn-princ {
  border-radius: 0.5em;
  padding: 0.7rem 2rem !important;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  color: var(--cor0) !important;
  letter-spacing: 0.1em;
  font-size: 12px !important;
}
body .btn-trans {
  background-color: transparent;
  border: 0.1em solid var(--cor0) !important;
}
body .btn-trans:active {
  background-color: var(--corHoverBtnTrans);
}
body .btn-princ {
  box-shadow: 0 0 0.6em var(--cor9);
  background-color: var(--cor10);
  border: none !important;
}
body .btn-princ:active {
  background-color: var(--corHoverBtnPrinc);
}
body .btn-down {
  background-color: var(--cor10);
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0 0.6em var(--cor9);
}
body .btn-down:active {
  background-color: var(--corHoverBtnPrinc);
}
body h1, body h2, body h4, body h5 {
  font: 600 1.6rem var(--font0);
}
body header {
  width: 100%;
  box-shadow: 0 0 0.6em hwb(0 0% 100%/0.7);
}
body header #container-header {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--cor6);
}
body header #container-header #logo {
  width: 4.2rem;
  height: -moz-max-content;
  height: max-content;
}
body header #container-header #menu {
  width: 1.6rem;
  height: -moz-fit-content;
  height: fit-content;
}
body header #icon-menu {
  display: none;
}
body header #icon-menu:checked ~ nav {
  max-height: 17em;
}
body header #navbar {
  transition: all 0.5s;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 5em;
  background-color: var(--cor6);
  width: 100%;
  box-shadow: 0 0.4em 0.5em 0 hwb(0 0% 100%/0.35);
}
body header #navbar ul {
  text-align: center;
  padding-bottom: 1rem;
}
body header #navbar ul li {
  margin: 1.2em auto;
  width: 100%;
}
body header #navbar ul li a {
  font-family: var(--font0);
  letter-spacing: 0.1em;
  margin: auto;
  padding: 0.7em;
}
body header #navbar ul li a:active {
  color: var(--cor9);
}
body main {
  width: 100%;
}
body main #sessao-um {
  padding: 0 2rem;
}
body main #sessao-um #img-sessao-um {
  width: 100%;
  margin-top: 2rem;
}
body main #sessao-um #conteudo-sessao-um {
  width: 100%;
  margin: 2rem auto;
}
body main #sessao-um #conteudo-sessao-um h1 {
  text-align: center;
  max-width: 17rem;
  margin: 1rem auto;
}
body main #sessao-um #conteudo-sessao-um p {
  font-size: 1rem;
  text-align: center;
  width: 15rem;
  margin: 1rem auto 3rem;
}
body main #sessao-um #conteudo-sessao-um a {
  margin: 0 auto;
}
body main #sessao-dois {
  padding: 2rem;
  margin: 3rem 0;
}
body main #sessao-dois #img-sessao-dois {
  margin: 0 auto;
}
body main #sessao-dois h2 {
  text-align: center;
  max-width: 17rem;
  margin: 2rem auto 0;
}
body main #sessao-dois p {
  font-size: 1rem;
  text-align: center;
  margin: 1rem auto 0;
  max-width: 17rem;
}
body main #sessao-tres #svg-onda-sessao-tres {
  margin-bottom: -2em;
  fill: var(--cor7);
}
body main #sessao-tres #container-sessao-tres {
  background-color: var(--cor7);
  margin: 1em 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em 2rem 5em;
}
body main #sessao-tres #container-sessao-tres .elementos {
  width: 45%;
  height: 8.75rem;
  margin: 0.937rem 0;
}
body main #sessao-tres #container-sessao-tres .elementos h3 {
  font: 500 1rem var(--font0);
  padding-bottom: 0.7rem;
  width: 100%;
  border-bottom: 0.2rem solid;
  -o-border-image: linear-gradient(to right, var(--cor10) 30%, transparent 30%) 1;
     border-image: linear-gradient(to right, var(--cor10) 30%, transparent 30%) 1;
}
body main #sessao-tres #container-sessao-tres .elementos p {
  font-size: 0.8rem;
  width: 100%;
  margin: 0.625rem 0;
}
body main #sessao-quatro #svg-onda-sessao-quatro {
  fill: var(--cor6);
  margin-top: -6em;
}
body main #sessao-quatro #img-sessao-quatro {
  width: 100%;
  margin-top: 3rem;
}
body main #sessao-cinco {
  padding: 0 2rem 3rem;
}
body main #sessao-cinco p {
  text-align: center;
  margin: auto;
  font-size: 1rem;
  max-width: 18rem;
}
body main #sessao-cinco a {
  margin: 2rem auto;
}
body main #sessao-cinco #img-cartoes-sessao-cinco {
  margin: 3rem auto;
}
body main #sessao-seis {
  width: 100%;
  background-color: var(--cor7);
}
body main #sessao-seis #svg-onda-sessao-seis {
  margin-top: -2em;
  fill: var(--cor7);
}
body main #sessao-seis #container-sessao-seis {
  padding: 0 2rem;
  margin-top: -2rem;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #logo-sessao-seis {
  height: 6em;
  width: 6em;
  margin: 1rem auto;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #txt-sessao-seis {
  margin-top: 2rem;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #txt-sessao-seis h4 {
  text-align: center;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #txt-sessao-seis p {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #sessao-btn-sessao-seis {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #sessao-btn-sessao-seis a {
  height: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #sessao-btn-sessao-seis a img {
  width: 1.8em;
  margin-right: 0.6em;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #sessao-btn-sessao-seis a #conteudo-btn p {
  font-size: 0.7em;
  display: block;
}
body main #sessao-seis #container-sessao-seis #conteudo-sessao-seis #sessao-btn-sessao-seis a #conteudo-btn span {
  font-size: 0.8em;
  display: block;
}
body main #sessao-seis #container-sessao-seis #container-img-sessao-seis {
  margin-top: 3rem;
}
body main #sessao-sete {
  width: 100%;
}
body main #sessao-sete #svg-onda-sessao-sete {
  width: 100%;
  fill: var(--cor6);
  margin-top: -2em;
}
body main #sessao-sete #container-sessao-sete {
  padding: 0 2rem;
}
body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete {
  margin-top: 2rem;
}
body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete h5 {
  text-align: center;
}
body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete p {
  text-align: center;
  font-size: 1rem;
  margin: 1rem auto 0;
  max-width: 18rem;
}
body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete a {
  margin: 3rem auto 0;
}
body main #sessao-sete #container-sessao-sete #container-img-sessao-sete {
  width: 100%;
  margin: 4rem 0 2rem;
}
body footer #svg-onda-footer {
  fill: var(--cor7);
}
body footer #primeira-sessao-footer {
  background-color: var(--cor7);
  margin-top: -1em;
  padding: 2em 2rem 0;
}
body footer #segunda-sessao-footer {
  padding: 3rem 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
body footer #segunda-sessao-footer .elementos {
  width: 45%;
  min-height: 14rem;
  margin: 1rem 0;
}
body footer #segunda-sessao-footer .elementos #container-link-redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body footer #segunda-sessao-footer .elementos dt {
  font: 500 1rem var(--font0);
  padding-bottom: 0.7rem;
  width: 100%;
  border-bottom: 0.19rem solid;
  -o-border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
     border-image: linear-gradient(to right, var(--cor9) 30%, transparent 30%) 1;
}
body footer #segunda-sessao-footer .elementos li {
  font-size: 0.8rem;
  width: 100%;
  margin-top: 0.2rem;
}
body footer #segunda-sessao-footer .elementos li a {
  padding: 0.5rem 0;
  display: block;
}
body footer #segunda-sessao-footer .elementos li a:active {
  color: var(--cor10);
}
body footer #segunda-sessao-footer .elementos #sessao-btn-footer a {
  margin-top: 1em;
  height: 3em;
  min-width: 6em;
  padding: 0.1em 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer #segunda-sessao-footer .elementos #sessao-btn-footer a img {
  width: 2em;
  height: 2em;
  margin-right: 0.6em;
}
body footer #segunda-sessao-footer .elementos #sessao-btn-footer a #conteudo-btn p {
  font-size: 0.7em;
  display: block;
  margin-bottom: 0.5em;
}
body footer #segunda-sessao-footer .elementos #sessao-btn-footer a #conteudo-btn span {
  font-size: 0.8em;
  display: block;
}
body footer #segunda-sessao-footer .elementos #container-link-redes {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes {
  width: 2.7em;
}
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes:nth-child(2n+2) {
  margin-left: 2rem;
}
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-facebook-square path,
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-instagram path,
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-linkedin path, #Icon_awesome-youtube-square path body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes:active {
  fill: var(--cor0);
}
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-facebook-square path:active,
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-instagram path:active,
body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-linkedin path:active, #Icon_awesome-youtube-square path body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes:active:active {
  fill: var(--cor9);
}
body footer #rodape-footer {
  border-top: 0.1em solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 0.875em;
}
body footer #rodape-footer #logo-footer {
  width: 3em;
}
body footer #rodape-footer #logo-footer img {
  width: 100%;
}

@media screen and (min-width: 490px) {
  body {
    font-size: 16px;
  }
  body .btn-trans, body .btn-princ {
    font-size: 0.8rem !important;
    padding: 0.8rem 3rem !important;
  }
  body h1, body h2, body h4, body h5 {
    font-size: 2rem;
  }
  body header #container-header {
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    padding: 0 4rem;
  }
  body header #container-header #menu {
    height: -moz-fit-content;
    height: fit-content;
    width: 1.8rem;
  }
  body header #icon-menu:checked ~ nav {
    max-height: 17em;
  }
  body header #navbar {
    top: 4em;
  }
  body main #sessao-um {
    padding: 0 4em;
  }
  body main #sessao-um #img-sessao-um {
    max-width: 100%;
  }
  body main #sessao-um #conteudo-sessao-um {
    width: 100%;
    margin: 3rem auto;
  }
  body main #sessao-um #conteudo-sessao-um h1 {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  body main #sessao-um #conteudo-sessao-um p {
    margin: 1rem auto;
    display: block;
    width: 100%;
  }
  body main #sessao-um #conteudo-sessao-um a {
    margin: 4rem auto;
  }
  body main #sessao-dois {
    padding: 0 4rem 2rem;
  }
  body main #sessao-dois #conteudo-sessao-dois h2 {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  body main #sessao-dois #conteudo-sessao-dois p {
    font-size: 1rem;
    min-width: 90%;
  }
  body main #sessao-tres #container-sessao-tres {
    padding: 2rem 4rem 5rem;
    justify-content: space-between;
  }
  body main #sessao-tres #container-sessao-tres .elementos {
    width: 45%;
  }
  body main #sessao-quatro #img-sessao-quatro {
    padding: 0 3rem;
  }
  body main #sessao-quatro p {
    font-size: 1.3em;
  }
  body main #sessao-quatro #img-cartoes-sessao-quatro {
    padding: 0 3em;
    width: 70%;
  }
  body main #sessao-seis #sessao-btn-sessao-seis {
    justify-content: space-evenly;
    width: 70%;
    margin: 3em auto 2em;
  }
  body main #sessao-seis #sessao-btn-sessao-seis a {
    width: 11em;
  }
  body main #sessao-sete p {
    font-size: 1.1em;
  }
  body main #sessao-sete #container-img-sessao-sete {
    width: 85%;
    margin: 0 auto;
  }
  body footer #primeira-sessao-footer {
    padding: 0 3em;
  }
  body footer #segunda-sessao-footer {
    justify-content: end;
  }
  body footer #segunda-sessao-footer #sessao-btn-footer a {
    width: 12em;
  }
  body footer #segunda-sessao-footer #container-link-redes {
    width: 13em;
  }
  body footer #segunda-sessao-footer #rodape-footer {
    padding: 0 3em;
  }
}
@media screen and (min-width: 885px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body .btn-princ,
  body .btn-trans {
    width: 8.4rem;
    transition: all 0.5s;
  }
  body .btn-trans:hover {
    background-color: var(--corHoverBtnTrans);
  }
  body .btn-princ:hover {
    background-color: var(--corHoverBtnPrinc);
  }
  body .btn-down:hover {
    transition: all 0.5s;
    background-color: var(--corHoverBtnPrinc);
  }
  body header {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
  }
  body header #container-header {
    height: auto;
    padding: 0;
  }
  body header #container-header #logo {
    width: 5rem;
    align-items: center;
  }
  body header #container-header #menu {
    display: none;
  }
  body header #navbar {
    max-height: 5em;
    box-shadow: none;
    width: auto;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
  }
  body header #navbar ul {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem 1rem 1rem;
    height: auto;
  }
  body header #navbar ul li {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 0.5rem;
  }
  body header #navbar ul li:last-child {
    margin-right: 0;
  }
  body header #navbar ul li a {
    padding: 1rem 0.5rem;
    font-size: 0.8em;
    display: block;
    border-bottom: 2px solid transparent;
  }
  body header #navbar ul li a:hover {
    transition: all 0.7s;
    border-bottom: 2px solid var(--cor9);
  }
  body main {
    width: 100%;
  }
  body main #sessao-um {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3rem;
  }
  body main #sessao-um #img-sessao-um {
    width: 48%;
    display: flex;
    align-items: center;
  }
  body main #sessao-um #conteudo-sessao-um {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  body main #sessao-um #conteudo-sessao-um h1 {
    text-align: left;
    margin: 0;
    font-size: 2rem;
  }
  body main #sessao-um #conteudo-sessao-um p {
    text-align: left;
    font-size: 1rem;
    margin: 1.5rem 0;
  }
  body main #sessao-um #conteudo-sessao-um a {
    margin: 0;
    width: 10rem;
  }
  body main #sessao-dois {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }
  body main #sessao-dois #img-sessao-dois {
    width: 48%;
    display: flex;
    align-items: center;
  }
  body main #sessao-dois #conteudo-sessao-dois {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }
  body main #sessao-dois #conteudo-sessao-dois h2 {
    text-align: left;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  body main #sessao-dois #conteudo-sessao-dois p {
    text-align: left;
    font-size: 1rem;
    margin: 1.5rem 0;
  }
  body main #sessao-tres #container-sessao-tres {
    padding: 2rem 3rem 10rem;
  }
  body main #sessao-tres #container-sessao-tres .elementos {
    width: 35%;
  }
  body main #sessao-tres #container-sessao-tres .elementos h3 {
    font-size: 1.2em;
  }
  body main #sessao-tres #container-sessao-tres .elementos p {
    font-size: 1em;
  }
  body main #sessao-quatro {
    padding: 0 0 5rem 0;
  }
  body main #sessao-quatro #container-btn-sessao-quatro a {
    width: 12rem;
  }
  body main #sessao-seis #svg-onda-sessao-seis {
    margin-top: -4rem;
  }
  body main #sessao-seis #conteudo-sessao-seis h4 {
    font-size: 2rem;
  }
  body main #sessao-seis #sessao-btn-sessao-seis a {
    width: 12rem;
  }
  body main #sessao-sete #svg-onda-sessao-sete {
    margin: -4rem 0 0 0;
  }
  body main #sessao-sete #conteudo-sessao-sete h5 {
    font-size: 2rem;
  }
  body main #sessao-sete a {
    width: 10rem;
  }
  body footer #segunda-sessao-footer .elementos {
    width: 20rem;
    margin: 1rem;
  }
  body footer #segunda-sessao-footer .elementos a:hover {
    transition: all 0.5s;
    color: var(--corHoverBtnPrinc);
    fill: var(--corHoverBtnPrinc);
  }
  body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-facebook-square path:hover,
  body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-instagram path:hover,
  body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-linkedin path:hover,
  body footer #segunda-sessao-footer .elementos #container-link-redes .icon-redes #Icon_awesome-youtube-square path:hover {
    fill: var(--corHoverBtnPrinc);
  }
  body footer #rodape-footer {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1090px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body header {
    padding: 0 10rem;
  }
  body main #sessao-um {
    padding: 4rem 6rem;
    width: 100%;
  }
  body main #sessao-um #img-sessao-um {
    width: auto;
  }
  body main #sessao-um #img-sessao-um img {
    width: 100%;
  }
  body main #sessao-um #conteudo-sessao-um {
    max-width: 20rem;
    background-color: #8B68DF;
  }
  body main #sessao-dois {
    padding: 0 6rem;
    align-items: center;
  }
  body main #sessao-dois #img-sessao-dois {
    background-color: #F3709C;
  }
  body main #sessao-dois #conteudo-sessao-dois {
    background-color: #8B68DF;
    max-width: 25rem;
  }
  body main #sessao-dois #conteudo-sessao-dois h2 {
    background-color: yellowgreen;
  }
  body main #sessao-dois #conteudo-sessao-dois p {
    background-color: #5B31C1;
  }
  body main #sessao-tres #container-sessao-tres {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    row-gap: 3em;
  }
  body main #sessao-tres #container-sessao-tres .elementos {
    width: 50%;
  }
  body main #sessao-quatro #img-sessao-quatro img {
    width: 100%;
  }
  body main #sessao-quatro #container-sessao-quatro {
    padding: 0 8rem;
    display: flex;
    height: -moz-max-content;
    height: max-content;
    align-items: center;
    width: 100%;
    margin: -5rem 0 12rem 0;
  }
  body main #sessao-quatro #container-sessao-quatro #conteudo-sessao-quatro {
    height: -moz-max-content;
    height: max-content;
    padding: 0;
  }
  body main #sessao-quatro #container-sessao-quatro #conteudo-sessao-quatro p {
    margin: 0;
    padding: 2rem 0;
    border-bottom: 0.2rem solid;
    -o-border-image: linear-gradient(to right, var(--cor10) 30%, transparent 30%) 1;
       border-image: linear-gradient(to right, var(--cor10) 30%, transparent 30%) 1;
    text-align: left;
    width: 25rem;
  }
  body main #sessao-quatro #container-sessao-quatro #conteudo-sessao-quatro #container-btn-sessao-quatro {
    width: -moz-max-content;
    width: max-content;
    margin: 0;
    padding: 2rem 0;
  }
  body main #sessao-quatro #container-sessao-quatro #conteudo-sessao-quatro #container-btn-sessao-quatro a {
    margin: 0;
  }
  body main #sessao-quatro #container-sessao-quatro #img-cartoes-sessao-quatro {
    max-width: 40rem;
  }
  body main #sessao-quatro #container-sessao-quatro #img-cartoes-sessao-quatro img {
    width: 100%;
  }
  body main #sessao-seis {
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 4rem;
  }
  body main #sessao-seis #svg-onda-sessao-seis {
    margin-top: -15rem;
  }
  body main #sessao-seis #container-sessao-seis {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: -4rem;
    padding: 0 6rem;
  }
  body main #sessao-seis #container-sessao-seis #itens-texto-sessao-seis {
    padding: 1rem 0;
  }
  body main #sessao-seis #container-sessao-seis #itens-texto-sessao-seis #sessao-btn-sessao-seis {
    width: -moz-min-content;
    width: min-content;
  }
  body main #sessao-seis #container-sessao-seis #itens-texto-sessao-seis #sessao-btn-sessao-seis a {
    margin: 0 1rem;
  }
  body main #sessao-seis #container-sessao-seis #container-img-sessao-seis {
    margin: -10rem 0 0;
    max-width: 35rem;
    padding: 1rem;
  }
  body main #sessao-sete {
    padding-bottom: 6rem;
  }
  body main #sessao-sete #svg-onda-sessao-sete {
    margin-top: -8rem;
  }
  body main #sessao-sete #container-sessao-sete {
    display: flex;
    padding: 0 8rem;
  }
  body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete h5 {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete p {
    padding: 0;
    margin: 2rem 0;
    text-align: left;
  }
  body main #sessao-sete #container-sessao-sete #conteudo-sessao-sete a {
    display: block;
    margin: 0;
  }
  body main #sessao-sete #container-sessao-sete #container-img-sessao-sete {
    max-width: 40rem;
  }
  body footer #primeira-sessao-footer {
    padding: 0 6rem;
  }
  body footer #segunda-sessao-footer {
    padding: 6rem;
    justify-content: space-around;
  }
  body footer #segunda-sessao-footer .elementos {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  body footer #segunda-sessao-footer .elementos dt {
    width: 10rem;
    padding-bottom: 1rem;
  }
  body footer #segunda-sessao-footer .elementos li {
    margin-top: 1rem;
  }
  body footer #segunda-sessao-footer .elementos #sessao-btn-footer a {
    width: auto;
  }
  body footer #rodape-footer {
    padding: 0 8rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  body footer #rodape-footer #logo-footer {
    width: 4rem;
    margin: 0 2rem;
  }
}/*# sourceMappingURL=style.css.map */